:root {
  --width-red: 20%;
  --width-green: 30%;
  --width-blue: 40%;
}

.App {
  text-align: left;
}

table {
  table-layout: auto;
  border-spacing: 5px;
}

.main-table td {
  vertical-align: top;
}

.cell-enabled-false {
  opacity: 0.2;
}

.table-form td {
  border: 1px solid black;
}

.table-red {
  border: 2px solid red;
  width: var(--width-red);
}

.table-green {
  border: 2px solid green;
  width: var(--width-green);
}

.table-blue {
  border: 2px solid blue;
  width: var(--width-blue);
}
